{% extends 'base.html.twig' %}

{% block title %}Espace d'administration{% endblock %}

{% block body %}
    <a href="{{path('admin_questions')}}" class="btn btn-livequestion full-width">Modération des questions</a>
{% endblock %}
