{% extends 'base.html.twig' %}

{% block body %}
    <p class="alert-instantmessage">Une erreur est survenue. Veuillez nous excusez pour la gène occasionnée et vous redirigez vers une autre page.</p>
{% endblock %}