{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<p>UserName : {{ user.UserName }}</p>
<p>Mail : {{ user.mail }}</p>
<p>Gender : {{user.gender}}</p>
{% endblock %}
