{% extends 'base.html.twig' %}

{% block title %}Modification des informations de connexion {% endblock %}

{% block body %}
{% if app.user.id == user.id %}
<div class="row justify-content-center">
    <div class="col-6">
        <h1 class="h3 mb-3 font-weight-normal text-center">Modification des informations de connexion</h1>
        {{ form_start(form) }}
            {{ form_row(form, { 'label': ' ' }) }}
            <div class="row buttons">
                <a href="{{path('app_user', { 'id': user.id })}}" class="btn btn-white col-6" >Annuler</a>
                <input type="submit" value="Appliquer les modification" class="btn btn-instantmessage btn-block col-6"></input>
            </div>
        {{ form_end(form) }}
    </div>
</div>
{% else %}
<div class="text-center alert alert-instantmessage">Vous n'êtes pas autorisé(e) à modifier ces informations.</div>
{% endif %}

{% endblock %}